<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>com.demo.test.Test1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonAction</servlet-name>
        <servlet-class>com.demo.actions.JsonAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonAction</servlet-name>
        <url-pattern>/servlet/json</url-pattern>
    </servlet-mapping>
</web-app>